html,body{
    cursor: none;
}

main{
    overflow: hidden;
}
main > article{
    flex: 0 0 100%;
    margin:0;
}

.kiosk-header{
    font-size: 40px;
    line-height: 100px;
    height: 100px;
    max-height: 100px;
}

.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-top{
    vertical-align: top;
}
.align-bottom{
    vertical-align: bottom;
}

footer{
    height:180px;
}

footer .time{
    font-size:100px;
    line-height:175px;
    margin-right: 40px;
}

.schedule{
    margin-left: 40px;
}
.schedule table{
    height: 175px;
    border-spacing: 40px 0;
    margin-left: -40px;
}

.schedule td,
.schedule.training{
    text-align: left;
    font-size: 60px;
    font-weight: 300;
}

.schedule.training{
    line-height:175px;
}

.schedule.none{
    font-size:80px;
    font-weight: 300;
    line-height:175px;
}

.games{
    border-spacing: 25px 0;
    font-size:50px;
}
.games tr.active{
    font-weight:400;
}
.games tr{
    font-weight: 300;
}

table.split{
    display:block;
    -webkit-column-count:2;
}
