main{
    overflow: hidden;
}
main > article{
    flex: 0 0 100%;
    margin:0;
}

.kiosk-header{
    font-size: 40px;
    line-height: 100px;
    height: 100px;
    max-height: 100px;
}

.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-top{
    vertical-align: top;
}
.align-bottom{
    vertical-align: bottom;
}